.header {
  width: 1300px;
  &__navbar {
    display: flex;
    padding: 25px 0;
    justify-content: space-between;
  }

  &__logo {
    width: 100%;
    height: auto;
  }

  &__buttons {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;

    #signup-button {
      margin-right: 20px;
    }

    #create-visit-button {
      margin-right: 20px;
    }
  }
}
