@import "reset";
@import "variables";

@import "./mixins";

@import "./header/header";
@import "./main/main";
@import "./modals/loginmodal";
@import "./modals/selectmodal";
@import "./modals/selectmodal";

body {
  font-family: $default-font;
  background-image: url("../img/background-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
